<h1><%=  @user.name.capitalize %> <%= @invoice.number %> </h1>
<h2>Listing Invoice Notes</h2>
 
<table>
  <tr>
    <th>Text</th>
    
   
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.text %> </td>
      
    
  </tr>
    </tr>
  <% end %>
</table>

