<div class="well">
<fieldset>
  <legend>New Note </legend>
<%= form_for [@invoice, @note] do |f| %>

   <div class="form-group">
    <%= f.label :Note %><br>
    <%= f.text_area :text , class: 'form-control' %>
    </div>

 <%= f.button 'Create' , class: 'btn btn-primary' %>
 <% end %>
</fieldset>
</div>

</div>
