<p>
  <strong>Account Number:</strong>
  <%= @bank.account_name %> 
</p>


<p>
  <strong>Number:</strong>
  <%= @bank.sort_code %> 
</p>
 
<p>
  <strong>Account Number:</strong>
  <%= @bank.account_number %> 
</p>
