<div class="jumbotron">
				<div class="row">
		                	<h1>Simple Invoice</h1>
		                	<p>A simple invoicing solution for freelancers.</p>

		                <div class="signup">
		                	<p><%= link_to 'Sign Up', new_user_registration_path , class: "btn btn-primary btn-lg"  %></p>
		                	<p><%= link_to 'Beta', '#' , class: "btn btn-success disabled btn-xs"  %></p>
		               
		            </div>
				</div>
              </div>

<div class="carousel-inner">

    </div>