
			<div class="jumbotron">
                <h1>Simple Invoice</h1>
                <p>A simple invoicing application for freelancers to make keeping on top of invoices enjoyable.</p>
                <p><%= link_to 'Sign Up', '#', class: "btn btn-primary btn-lg"  %>
</p>
              </div>

              




