// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.jumbotron img {
	max-width: 10%;
}

.jumbotron {
	max-width: 50%;
	
}

.img-rounded {
	max-width: 100%;
}

.jumbotron p {
	text-align: center;
}


	